# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
mouse_df = pd.DataFrame(mouse_metadata)
study_df = pd.DataFrame(study_results)

# Combine the data into a single DataFrame
merge_df = pd.merge(mouse_df, study_df, on="Mouse ID")

# Display the data table for preview
merge_df.dtypes

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [2]:
merge_df.shape

(1893, 8)

In [3]:
merge_df.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [4]:
merge_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [5]:
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Checking the number of mice.
count = merge_df['Mouse ID'].nunique()
count

249

In [7]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# duplicates = merge_df['Mouse ID'].value_counts()
# duplicatesT = merge_df['Timepoint'].value_counts()

# print(duplicates,duplicatesT)
#duplicates = merge_df['Mouse ID'].value_count()
#print(duplicates)
duplicates = merge_df[merge_df.duplicated()]
duplicates

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.0,0

In [8]:
duplicateRows = merge_df[merge_df.duplicated(['Mouse ID', 'Timepoint'])]
duplicateRows

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [9]:
# Optional: Get all the data for the duplicate mouse ID. 
variable = "g989"
rows = merge_df.loc[merge_df['Mouse ID'] == variable]
rows_df = pd.DataFrame(rows)
rows_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [10]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clmerge_df = merge_df.drop(merge_df[merge_df['Mouse ID'] == variable].index)
clmerge_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [11]:
# Check for g989
variable = "g989"
rows = clmerge_df.loc[clmerge_df['Mouse ID'] == variable]
rows_df = pd.DataFrame(rows)
rows_df

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

In [12]:
# Checking the number of mice in the clean DataFrame.
# Checking the number of mice.
count = clmerge_df['Mouse ID'].nunique()
count

248

## Summary Statistics

In [99]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regime
clmerge_df = pd.DataFrame(clmerge_df)
clmerge_df = clmerge_df.rename(columns={"Tumor Volume (mm3)":"Tumor"})

stats_df = clmerge_df[['Drug Regimen','Tumor']]
stats_df.groupby(['Drug Regimen']).mean().head()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
#stats_df = grouped_clmerge[['Drug Regimen','Tumor Volume (mm3)']]
# stats_df


# grouped_clmerge = clmerge_df.groupby(['Drug Regimen'])
# mean = grouped_clmerge.mean(['Tumor Volume (mm3)'])
# mean = mean.rename(columns={'Tumor Volume (mm3)': 'Mean'})

# grouped_clmerge_df = pd.DataFrame(grouped_clmerge)
# grouped_clmerge_df.insert(8, 'mean', 'mean')
# print(grouped_clmerge_df)
# #median = mean.median(['Tumor Volume (mm3)'])
# #print(mean)
# #grouped_clmerge.head()
# # grouped_clmerge.head()



# mean = pd.DataFrame(grouped_clmerge['Tumor Volume (mm3)'].mean())
# #print(mean)
# median = pd.DataFrame(grouped_clmerge['Tumor Volume (mm3)'].median())

# variance = grouped_clmerge['Tumor Volume (mm3)'].var()
# std = grouped_clmerge['Tumor Volume (mm3)'].std()
# sem = grouped_clmerge['Tumor Volume (mm3)'].sem()



# grouped_clmerge = pd.DataFrame({
#                       'Mean':[mean],
#                         'Median':[median],
# #                        'Variance':[variance],
# #                        'Std Dev':[std],
# #                        'Sem':[sem]
                     
#                      })
# print(grouped_clmerge.head(5))















# grouped_clmerge = grouped_clmerge.rename(columns={'Tumor Volume (mm3)': 'Mean'})
# print(grouped_clmerge)

                  Tumor
Drug Regimen
Capomulin     40.675741
Ceftamin      52.591172
Infubinol     52.884795
Ketapril      55.235638
Naftisol      54.331565

In [97]:
# mean = grouped_clmerge[["Tumor Volume (mm3)"]].mean().reset_index
# mean = mean.rename(columns={'Tumor Volume (mm3)': 'Mean'})
# print(mean)

In [98]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line
grouped_clmerge.agg(
    {
        "Tumor Volume (mm3)": ['mean', 'median', 'var']
    }
)
print(grouped_clmerge)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1559104f0>

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen